* {
  box-sizing: border-box;
}
html, body{
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
}
.page{
  padding: 10px;
  position:relative;
  background: linear-gradient(to right,#eee, #ddd);
  padding:14px 15px;
  top: 0px;
  margin:0px 8px 0px 0px;
  transform: rotateY(-5deg);
  width:500px;
  display: inline-block;
  height: 600px;
  box-sizing: border-box;
  will-change: transform, background-color, box-shadow;
  transform-origin: 0% 50%;
  transform-style: preserve-3d;
  transition-property: transform, background-color,box-shadow;
}
.paper{
  background-image: linear-gradient(#999 0.05em, transparent 0.1em);
  height: 100%;
  top: 0;left:0;
  outline:none;
  font-family: 'Homemade Apple', cursive;
  color: #000F55;
  padding-top: 0px;
  line-height: 1.5em;
  background-size: 100% 1.5em;
  padding: unset;
}
.paper-holder{
  background-size: unset;
  background-color: #fff;
  background-image: none;
  box-sizing: border-box;
}
.overlay{
  position: absolute;
  top:0;left:0;
  height: 100%;
  width: 100%;
  display: none;
  background-image: linear-gradient(to right, #0007, #0001);
}
.row{
  display: flex;
}
.col{
  flex: 1;
}
.form-container{
  padding: 60px 100px;
  font-family: Arial, Helvetica, sans-serif;
}
.form-container label{
  font-weight: bold;
}
.form-container input, .form-container select{
  display: block;
  width: 100%;
  background-color: #eee;
  border: none;
  padding: 10px;
}
.form-container button{
  border: none;
  background-color: #09f;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 768px){
  .row{display: block;}
  .output{
    margin-top: 20px;
  }
  .page{
    transform: scale(0.6);
  }
  img{
    width: 300px;
  }
  .form-container{
    padding: 40px 10px;
  }
}